# Ignore compiled class files
*.class

# Ignore JVM crash logs
hs_err_pid*

# Ignore log files
*.log

# Ignore temporary files created by the IDEs
.idea/
*.iml
*.ipr
*.iws

# Ignore BlueJ project files
*.ctxt

# Ignore files created by Java Mobile Tools (J2ME)
.mtj.tmp/

# Ignore Maven, Gradle, and other build-related files
target/
build/

# Ignore package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ignore .out files (output logs, for example)
*.out

# Ignore file system lock files
*.lock

# Ignore temporary files and backups
*~
*.swp
*.swo

# Ignore NetBeans project files
nbproject/

# Ignore Eclipse project files
.project
.classpath
.settings/

# Ignore VS Code project files
.vscode/

# Ignore MacOS-specific files
.DS_Store

# Ignore Windows-specific files
Thumbs.db

# Ignore temporary directories created by build tools (e.g., Gradle, Maven)
.gradle/

# Specifically ignore .iml files inside .idea directory
.idea/*.iml
